In [21]:
import pandas as pd

jellyfishData = pd.read_csv('./해파리_모니터링_지리공간_데이터/해파리모니터링데이터_원본.csv')
jellyfishData

,WTCH_SYMD,WTCH_EYMD,JLYFS_NM,TXCT_DGRE_CD,AP_AREA_NM,AP_DN_CD,JLYFS_APRT,WTCH_IEM_NM,WTCH_VAL
0,20130628,20130704,기타 해파리,NaN,강원,NaN,42.9,NaN,NaN
1,20130628,20130704,노무라입깃해파리,강,강원,NaN,28.6,NaN,NaN
2,20130628,20130704,보름달물해파리,약,강원,NaN,14.3,NaN,NaN
3,20130628,20130704,기타 해파리,NaN,경기,NaN,0.0,NaN,NaN
4,20130628,20130704,노무라입깃해파리,강,경기,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
8799,20220722,20220728,노무라입깃해파리,강,제주,NaN,NaN,NaN,NaN
8800,20220722,20220728,보름달물해파리,약,제주,NaN,NaN,NaN,NaN
8801,20220722,20220728,기타 해파리,NaN,충남,NaN,NaN,NaN,NaN
8802,20220722,20220728,노무라입깃해파리,강,충남,NaN,NaN,NaN,NaN
8803,20220722,20220728,보름달물해파리,약,충남,저밀도,44.4,NaN,NaN

## 각 칼럼별 이름
| 칼럼명 | 데이터타입 | 칼럼 이름 |
| --- | --- | --- | 
|wtch_symd |	varchar |	관측시작일자 |
|wtch_eymd |	varchar	|관측종료일자 |
|jlyfs_nm	|varchar	|	해파리명 |
|txct_dgre_cd|	varchar	|독성정도코드 |
|ap_area_nm|	varchar	|출현지역명 |
|ap_dn_cd	|varchar	|출현밀도코드 | 
|jlyfs_aprt|	numeric		|해파리출현율 |
|wtch_iem_nm	|varchar		|관측항목명 |
|wtch_val	|numeric		|관측값 |

In [22]:
# 관측항목명과 관측값은 null값밖에 없으므로 따로 뺌
jellyfishData = jellyfishData.drop(['WTCH_IEM_NM', 'WTCH_VAL'], axis= 1)

In [23]:
# 널 개수 출력
null_counts = jellyfishData.isnull().sum()
print(null_counts)

WTCH_SYMD          0
WTCH_EYMD          0
JLYFS_NM           0
TXCT_DGRE_CD    2717
AP_AREA_NM         0
AP_DN_CD        4617
JLYFS_APRT      2174
dtype: int64

In [ ]:
# 해파리 출현율 null값 처리 
jellyfishData.dropna(subset=['JLYFS_APRT'], inplace= True)
jellyfishData

,WTCH_SYMD,WTCH_EYMD,JLYFS_NM,TXCT_DGRE_CD,AP_AREA_NM,AP_DN_CD,JLYFS_APRT
0,20130628,20130704,기타 해파리,NaN,강원,NaN,42.9
1,20130628,20130704,노무라입깃해파리,강,강원,NaN,28.6
2,20130628,20130704,보름달물해파리,약,강원,NaN,14.3
3,20130628,20130704,기타 해파리,NaN,경기,NaN,0.0
4,20130628,20130704,노무라입깃해파리,강,경기,NaN,0.0
...,...,...,...,...,...,...,...
8794,20220722,20220728,기타 해파리,NaN,전북,NaN,5.9
8795,20220722,20220728,노무라입깃해파리,강,전북,저밀도,5.9
8796,20220722,20220728,보름달물해파리,약,전북,고밀도,52.9
8797,20220722,20220728,보름달물해파리,약,전북,저밀도,52.9
8803,20220722,20220728,보름달물해파리,약,충남,저밀도,44.4

In [26]:
jellyfishData.to_csv('해파리 모니터링 데이터.csv', index = False, encoding='utf-8')